<h1>Exam Questions</h1>

<div *ngIf="!flag" > loading .... </div>
<div *ngIf="flag" > 
  <h1>Exam Questions</h1>
</div>
<div *ngIf ="!checkBrowser()">{{message}}</div>
<div *ngIf ="outOfTime"><p>You have run out of Time!</p></div>

<div *ngIf ="checkBrowser() && !outOfTime ">
<div  *ngFor="let question of questions" > 
<div >
  {{question.examnumber}}   {{question.title}} 
</div>

<div>
  {{question.question}}   
</div>

<div  attr.id="editor{{question.examnumber}}"   >
  
  <td-code-editor 
  attr.id="editor{{question.examnumber}}"
  appTimeSpent
  style="height: 200px" 
  editorStyle="border:0;"
  flex 
  theme="vs-dark" 
  language="javascript"
  automaticLayout
  [editorOptions]="{ fontSize:20}"
  [(ngModel)]="this['model' + question.examnumber]"
  (input)="this['callBackFunc' + question.examnumber]()"
  
     >
  
</td-code-editor>

</div>
</div>
</div>





