<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="card-header"> {{pageTitle}}</div>
<hr>
<hr>
<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>StudentName</th>
        <th>Email</th>
        <th>emailStatus</th>
        <th>isAnswerd</th>
        <th>result</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let student of filteredStudents'>
        
        <td>{{ student.fristname}}</td>
        <td>
            <!-- [routerLink]="['/students', student.studentId]" -->
          
          <button type="button" style="width: 190px" class="btn btn-primary" (click)='[sendEmail(student.email)]'>
            {{ student.email }}
          </button>
    
        <td>{{ student.status}}</td>
        <td>{{ student.isAnswered }}</td>
        <td>{{ student.result }}</td>
      </tr>
    </tbody>
  </table>
</div>